<h1>Visit this poll!</h1>

<p>Please enter the <b>password</b> that was provided to you.</p>


<% if flash[:notice] %>
	<div class="alert alert-danger">
		<%= flash[:notice] %>
	</div>
<% end %>


<%= form_tag sessions_path do %>
    <%= hidden_field_tag :code, params[:code] %>

<div class="row">
	<div class="col-md-2">
    <%= password_field_tag :password, "", :class => "form-control" %>
	</div>
	<div class="col-md-6">
	<%= submit_tag "Visit feedback-survey", :class => "btn btn-success" %>
	</div>
</div>
<% end %>