<h1>Visit this poll!</h1>

<p>Please enter the password that was provided to you.</p>

<%= form_tag sessions_path do %>
  <p>
    <%= hidden_field_tag :code, params[:code] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Visit Poll", :class => "btn btn-success" %></p>
<% end %>