<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		
		<div class="well">	
		
		<% if @poll %>
			
			<% if poll_session %>
				<% if poll_session.code == @poll.code %>	

				<%= render 'polls/main_poll'%>
		
				<% else %>	

				<%= render 'polls/auth_poll' %>

				<% end %>
			
			<% elsif !@poll.key_user_hash %>

			<%= render 'polls/main_poll'%>
		
			<% elsif params['h'] == Digest::MD5.hexdigest(@poll.key_user_hash) %>
			
			<%= render 'polls/main_poll' %>
			
			<% else %>	

			<%= render 'polls/auth_poll' %>
		
			<% end %>
		
		<% else %>
			
			<p>This feedback-survey does not exist. It was either deleted or never created. Sorry!</p>
			<p><a href="/" class="btn btn-success">Create a free feedback-survey now!</a></p>
			
		<% end %>
		
		</div><!-- end well -->
		
		</div>
	</div>
</div>
